#receipe-form {
    margin-left: 50px;
    margin-right: 50px;
   
}

h1 {
    text-align: center;
    margin-top: 10px;
   text-decoration-style: dotted;
}

.receipe {
    margin:auto;
    text-align: center;
    margin-top: 50px;
}


body {
    background-color: lightblue;
  }

  .success, .error {
      color: honeydew;
      padding: 5px;
      margin: 5px 0 15px 0;
  }
  
.error {
    background: red;
}

.success {
    background: green;
}

.delete-option {

    
    background-color: rgb(207, 191, 178);
    width: 320px;
    border: 1px solid #c9c9c9; 
    text-align: center;
    margin: auto;
    margin-top: 50px;
    
    
  }
  